$color-text: white;
$color-background: rgba(red,.8);

::-moz-selection {
  color: $color-text;
  background-color: $color-background;
  text-shadow: none;
}
::selection {
  color: $color-text;
  background-color: $color-background;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
