@import "_normalize.scss";
@import "_boxsizing.scss";
@import "_clearfix.scss";
@import "_basic-selection.scss";

p {
  margin: 0 0 45px 0;
  text-align: justify;
}
p::first-letter {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  background: url('../img/background.png');
  background-repeat: repeat;
  color:#333;
  font-family: 'Waiting for the Sunrise', cursive;
  line-height: 1.2em;
}

.wrapper {
    background-image: url('../img/bg-preview.png');
    background-size: 10%;
    background-color: rgba(255,255,255,.7);
    background-repeat: repeat-y;
    background-position: 90% 0;

    width: 960px;

    margin: 0px auto;
    padding: 25px;
}

.main-title {
  font-weight: normal;
  text-align: center;
  letter-spacing: .2em;
  font-size: 72px;
  margin-bottom: 100px;
}

.projet-title {
  margin: 0
}
.projet-text {
  padding-right: 200px;
}

.footer {
  text-align: center;
  margin-top: 100px;
}
.pill {
  color: #fff;
  background-color: rgba(#333,0.5);
  border-radius: 20px;
  padding: 0 7px;
}
